table {
    border: 1px solid black;
    border-collapse: collapse;
}
        <!-- We can create headings using h1 through h6 as tags. -->
td, th {
    border: 1px solid black;
    padding: 10px;
}
#blue{
              color: blue;
              text-align: center;	
}	
.red {
              color: red; 
              text-align: center;		
}
